<!DOCTYPE html>
<html>

<head style="background-color:black">
    <meta charset="utf-8">
    <title>Everything Everywhere</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body style="background-color: #4F5758">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1 class='text-center' style="font-size: 70px;  
                    font-weight: bold;color:black;">Everything Everywhere
                </h1>
            </div>
            <div class="hero text-center">
                <p></p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <form>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="date">Enter a City or Address</label>
                                            <input id="CenterBox" type="text" size="40"></input>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <form>
                            <div class="form-group">
                                <ul class="list-group" id="filters">
                                    <li class="filter list-group-item">
                                        <label for="date">Enter a Weather</label>
                                        <input id="Fake" type="text" size="40"></input>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <form>
                                <div class="form-group">
                                    <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                            <label for="date">Enter a Circle of Interest</label>
                                            <input id="RadiusBox" type="text" size="40"></input>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                            <button id="filter-btn" type="button" class="btn btn-default">Search</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <form>
                            <!-- <input id="clickMe" type="button" button style="height:55px;width:180px" value="GO", onclick="getVals()"></input> -->
                            <input id="clickMe" type="button" class="btn btn-default" button
                                style="height:55px;width:180px" value="GO" , onclick="getVals()"></input>
                        </form>

                    </div>

                    <div id="map" style="width: 1200px; height: 600px"> </div>
                    <button id="traffic-b" style="color: black">Traffic</button>
                    <button id="transit-b" style="color:black">Transit</button>
                    <button id="bike-b" style="color:black">Bike</button>
                    <button id="my-loc" style="color:black">My Location</button>
                    <button id="clear" style="color:black">Clear Map</button>
                    <div class="position-relative">

                        <!-- <form method="POST" action="/form" style="color:yellow">
                            Price Range (1-4):<br>
                            <input type="number" name="Price">
                            <br>
                            Rating (1-4.5):<br>
                            <input type="number" step="0.5" name="Rating">
                            <br>
                            Popularity:<br>
                            <input type="number" name="Popularity">
                            <br>
                            <input type="submit" value="Submit">
                        </form>
                        <p style="color:white">
                            <font size="10">Best Prediction: <strong>{{ variable }}</strong>
                        </p> -->
                        
                        <form method="POST" action="/form" style="color:yellow">
                            Price Range (1-4):<br>
                            <input type="number" name="Price">
                            <br>
                            Rating (1-4.5):<br>
                            <input type="number" step="0.5" name="Rating">
                            <br>
                            Popularity:<br>
                            <input type="number" name="Popularity">
                            <br>
                            <input type="submit" value="Submit">
                        </form>
                        <p style="color:white">
                            <font size="10">Best Food Category Prediction: <strong>{{ variable }}</strong>
                        </p>


                        <form method="POST" action="/earthquake_page" style="color:black">
                            Prediction Date:<br>
                            <input type="text" name="Target_Date">
                            <br>
                            <input type="submit" value="Submit">
                        </form>

                        <p style="color:black">EarthQuake: <strong>{{ prediction }}</strong></p>



                    </div>

                </div>
                   
               <div id="map" style = "width: 1000px; height: 600px"> </div>
               <button id="traffic-b" style="color: black">Traffic</button> 
	           <button id="transit-b" style="color:black">Transit</button> 
               <button id="bike-b" style="color:black">Bike</button> 
               <button id="my-loc" style="color:black">My Location</button> 
               <button id="clear" style="color:black">Clear Map</button>
            </div>
            <div class="position-relative">
                <form method="POST" action="/form" style="color:black">
                    Price Range (1-4):<br>
                    <input type="number" name="Price">
                    <br>
                    Rating (1-4.5):<br>
                    <input type="number" step="0.1" name="Rating">
                    <br>
                    Popularity:<br>
                    <input type="number" name="Popularity">
                    <br>
                    <input type="submit" value="Submit"></form>
                <!-- <p style="color:black">Here is your best bet!!!: <strong>{{ RestaurantType }}</strong></p> -->
                <p id="myRestaurantType" style="color:black">Here is your best bet !!!:{{ RestaurantType }}</p>
            </div>
        </div>
    </div>
</body> 
 
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>  
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script> 
<script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script> 
<script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script> 

 
<script src="../static/js/map_RWK.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvyVDA_5c3EZegPUVqejNZ93ldGpwoJgY&callback=initMap" async defer></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvyVDA_5c3EZegPUVqejNZ93ldGpwoJgY&libraries=places&callback=initMap" type="text/javascript"></script>

<!-- <script src="../static/js/Zach_js.js"></script> -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvyVDA_5c3EZegPUVqejNZ93ldGpwoJgY&callback=initMap" async defer></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
</div>